[package]
name = "brix"
version = "0.1.0"
authors = ["Miapolis <41233357+Miapolis@users.noreply.github.com>"]
edition = "2018"

[[bin]]
bench = false
path = "crates/brix_core/main.rs"
name = "brix"

[workspace]
members = [
    "crates/brix_cli",
    "crates/brix_processor",
    "crates/brix_config_loader"
]

[dependencies]
brix_processor = { path = "crates/brix_processor" }
brix_config_loader = { path = "crates/brix_config_loader" }

[dependencies.clap]
version = "2.33.3"
default-features = false
features = ["suggestions", "color"]